[Main Page](/Main_Page "wikilink") \> [osgART](/osgART "wikilink") \>
Requirements to use osgART

Required skill-sets
-------------------

osgART is a cross-platform library that simplifies the development of
augmented reality applications by merging computer vision based tracking
with OSG rendering. osgART's plugin-based structure supports video input
from many different video sources, spatial registration from tracking
libraries, such as ARToolKit, and for a variety of photometric
registration techniques.

Developing an application with osgART requires two parallel skill sets:

-   Firstly, skills with a tracking library and the tools for dealing
    with the real-world part of augmented reality. osgART is designed to
    work with ARToolKit (the Augmented Reality ToolKit) which provides
    low-level libraries for acquisition of images of the real world from
    video sources, marker based tracking, services for rending using
    OpenGL, and a variety of utilities for related tasks.
-   Secondly, skills in programming using OpenSceneGraph itself. osgART
    adapts ARToolKits services to a scenegraph-based approach to
    graphics programming, rather than the procedural approach which is
    more typical of traditional ARToolKit applications and low-level
    OpenGL programming. OSG has a C++ interface. If you have skills in
    the C language, these can still be used with OSG in a limited way,
    but learning C++ is the key to unlocking the full power of the
    scene-graph approach.

Required software
-----------------

                                     1.2                                    1.1.3                                1.1.2                         1.1                           1.0
  ---------------------------------- -------------------------------------- ------------------------------------ ----------------------------- ----------------------------- -----------------------------
  Windows: Microsoft Visual Studio   2010                                   2005, 2008                           .NET 2003, 2005, 2008         .NET 2003, 2005               .NET 2003, 2005
  Mac OS X: Xcode                    v4.2 or later with 10.5 SDK            v3.1 or later with 10.5 SDK          v3.1 or later with 10.5 SDK   v2.4 or later with 10.4 SDK   v2.4 or later with 10.4 SDK
  Linux: g++ toolchain               g++ v4.2 or later                      g++ v4.0.1 or later                  g++ v4.0.1 or later           g++ v4.0.1 or later           g++ v4.0.1 or later
  OpenSceneGraph                     v3.0.3 or later (3.1.4 recommended).   v2.8 or later (2.8.2 recommended).   v2.6 (2.6.1 recommended).     v2.2-2.4                      v1.2
  ARToolKit Professional             v5.0 or later                          v4.4.2 or later                      v4.4-4.4.1                    v4.3.3-4.4.1.                 (not supported)
  ARToolKit NFT                      Included in ARToolKit v5.0             v3.48.0 or later                     v3.24.3                       v3.24.2.                      (not supported)
  ARToolKit                          N/A                                    v2.80 or later                       v2.72.1                       v2.72.1                       v2.72.1

  : Required version numbers of prerequisites for building different
  versions of osgART.

Required hardware
-----------------

-   All versions of osgART require a web camera or other video source.
    You can check which [cameras](/Cameras "wikilink") work well with
    osgART.

[Category:osgART Professional
Edition](/Category:osgART_Professional_Edition "wikilink")